<h1>Edit bookmark</h1>

<a href="{% url 'bookmarks:index' %}">Home</a>

{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if bookmark %}
    <h2>{{ bookmark.name }}</h2>

    <form action="{% url 'bookmarks:editbookmark' bookmark.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Apply">
    </form>

    <a href="{% url 'bookmarks:deletebookmark' bookmark.id %}">Delete</a>
{% else %}
    <h2>No bookmark provided! Please try again.</h2>
{% endif %}
