<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookmarks</title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'basestyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bookmarks:index' %}">Bookmarks</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p>Welcome {{ user.username }}! - <a class="nav-link" href="{% url 'accounts:logout_confirm' %}">Logout</a></p>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
            </ul>

        </nav>
    </header>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <p>Footer</p>
    </footer>
</html>
